body{
background-color: #09c;
	margin:0px;
	font-family:Arial; 
	font-weight: normal; 
	font-size: 16px; 	
	color: #0099cc;
	}
	
h1{
	font-family:Arial; 
	font-weight: normal; 
	font-size: 24px; 	
	color: #fff;
}

div#global { 
position:absolute;
left: 50%;
top: 50%;
width: 640px;
height: 480px;
margin-left: -390px; /* half of the width */
margin-top: -240px; /* half of the height */
} 


a:link {  
	color:#333333; 
	text-decoration:none; 
	font-family: Arial, Helvetica, san-serif; 
	font-size: 11px; 
	font-weight: normal;
	}

a:visited { 
	color:#333333; 
	font-family: Arial, Helvetica, san-serif; 
	font-size: 11px; 
	font-weight: normal;
	text-decoration:none; 
}

a:hover {  
	color: #F00; 
	text-decoration:none; 
	font-family: Arial, Helvetica, san-serif; 
	font-size: 11px; 
	font-weight: normal;
	text-decoration:none; 
}
